<a href="https://colab.research.google.com/github/o-going/pdm01/blob/master/py-pandas/pandas_1_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab

## [1] Make data: Series, and DataFrame
> pandas의 데이터 구조
- Series
- DataFrame

### Series
> 1차원 데이터

In [5]:
# Creating a Series by passing a list of values
s = pd.Series([1,3,5,np.nan,6,8,'you'])
s

0      1
1      3
2      5
3    NaN
4      6
5      8
6    you
dtype: object

In [6]:
type(s)

pandas.core.series.Series

In [9]:
# indexing 7 slicing og series
s[0],s[:3],s[-1:]

(1, 0    1
 1    3
 2    5
 dtype: object, 6    you
 dtype: object)

In [10]:
s[:3]

0    1
1    3
2    5
dtype: object

In [13]:
s[-1:]

6    you
dtype: object

### 1차원 series의 용도
- 2차원 데이터프레임의 열을 구성

In [14]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20200928', periods=6)
dates

DatetimeIndex(['2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01',
               '2020-10-02', '2020-10-03'],
              dtype='datetime64[ns]', freq='D')

In [15]:
type(dates)

pandas.core.indexes.datetimes.DatetimeIndex

In [16]:
# Make dataframe using an array with random numbers
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-09-28 -0.202145  1.986829 -0.805651  1.015284
2020-09-29  1.297197 -1.084875  0.769185 -1.076624
2020-09-30 -1.045019  0.294970  0.124813  0.386882
2020-10-01  1.130958  0.032429  0.443445 -0.097385
2020-10-02  1.074768 -0.445037  0.338957  1.311332
2020-10-03 -0.278316  2.686935  1.446180 -0.196920

In [17]:
# check types of df  --> same type
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [18]:
type(df)

pandas.core.frame.DataFrame

### 데이터프레임 (DataFrame)
- 2차원 데이터
- 다차원 데이터

In [19]:
# Creating a DataFrame by passing a dict of objects that can be converted to series-like.
df2 = pd.DataFrame({ 'A' : 1., 
                    'B' : pd.Timestamp('20191129'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

In [20]:
df2

     A          B    C  D      E    F
0  1.0 2019-11-29  1.0  3   test  foo
1  1.0 2019-11-29  1.0  3  train  foo
2  1.0 2019-11-29  1.0  3   test  foo
3  1.0 2019-11-29  1.0  3  train  foo

In [21]:
# check types of df2 --> different types
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [22]:
type(df2)

pandas.core.frame.DataFrame



---