<a href="https://colab.research.google.com/github/o-going/pdm01/blob/master/py-pandas/pandas_2_handling_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab



---

## [2] Handling DataFrame
- head()
- tail()
- describe()
- info()

In [2]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20200928', periods=6)
dates

DatetimeIndex(['2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01',
               '2020-10-02', '2020-10-03'],
              dtype='datetime64[ns]', freq='D')

In [3]:
# head()
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df.head()

                   A         B         C         D
2020-09-28 -1.202280 -0.104565 -0.052992  0.440326
2020-09-29  0.606935  0.570078  0.441548  1.819863
2020-09-30  1.257619  1.285883  0.618265  0.414078
2020-10-01  0.319298 -1.055405 -0.072941 -0.644602
2020-10-02 -1.681452 -1.384092  0.007953  0.519635

In [4]:
df.head(2)

                   A         B         C         D
2020-09-28 -1.202280 -0.104565 -0.052992  0.440326
2020-09-29  0.606935  0.570078  0.441548  1.819863

In [5]:
df.tail(3)

                   A         B         C         D
2020-10-01  0.319298 -1.055405 -0.072941 -0.644602
2020-10-02 -1.681452 -1.384092  0.007953  0.519635
2020-10-03  0.658132  1.429548 -0.806217  0.653830

In [6]:
# Display the index, columns, and the underlying NumPy data:
df.index

DatetimeIndex(['2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01',
               '2020-10-02', '2020-10-03'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2020-09-28 to 2020-10-03
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [11]:
# describe() shows a quick statistic summary of your data:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.006958  0.123574  0.022603  0.533855
std    1.162543  1.180762  0.496453  0.784891
min   -1.681452 -1.384092 -0.806217 -0.644602
25%   -0.821886 -0.817695 -0.067954  0.420640
50%    0.463117  0.232757 -0.022520  0.479980
75%    0.645333  1.106932  0.333149  0.620281
max    1.257619  1.429548  0.618265  1.819863

In [12]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [13]:
# Transposing your dataframe:
df.T

   2020-09-28  2020-09-29  2020-09-30  2020-10-01  2020-10-02  2020-10-03
A   -1.202280    0.606935    1.257619    0.319298   -1.681452    0.658132
B   -0.104565    0.570078    1.285883   -1.055405   -1.384092    1.429548
C   -0.052992    0.441548    0.618265   -0.072941    0.007953   -0.806217
D    0.440326    1.819863    0.414078   -0.644602    0.519635    0.653830

In [14]:
df.T.index

Index(['A', 'B', 'C', 'D'], dtype='object')

### Sorting

#### Sort by index
- sort_index(axis=0, ascending=False)
- sort_index(axis=1, ascending=False)

> Axis=0 Column-Wise Operation (수직으로)

> Axis=1 Row-Wise Operation (수평으로)

In [21]:
# Sorting by an axis:
df, df.sort_index(axis=0, ascending=False)

(                   A         B         C         D
 2020-09-28 -1.202280 -0.104565 -0.052992  0.440326
 2020-09-29  0.606935  0.570078  0.441548  1.819863
 2020-09-30  1.257619  1.285883  0.618265  0.414078
 2020-10-01  0.319298 -1.055405 -0.072941 -0.644602
 2020-10-02 -1.681452 -1.384092  0.007953  0.519635
 2020-10-03  0.658132  1.429548 -0.806217  0.653830,
                    A         B         C         D
 2020-10-03  0.658132  1.429548 -0.806217  0.653830
 2020-10-02 -1.681452 -1.384092  0.007953  0.519635
 2020-10-01  0.319298 -1.055405 -0.072941 -0.644602
 2020-09-30  1.257619  1.285883  0.618265  0.414078
 2020-09-29  0.606935  0.570078  0.441548  1.819863
 2020-09-28 -1.202280 -0.104565 -0.052992  0.440326)

In [22]:
df,df.sort_index(axis=1, ascending=False)

(                   A         B         C         D
 2020-09-28 -1.202280 -0.104565 -0.052992  0.440326
 2020-09-29  0.606935  0.570078  0.441548  1.819863
 2020-09-30  1.257619  1.285883  0.618265  0.414078
 2020-10-01  0.319298 -1.055405 -0.072941 -0.644602
 2020-10-02 -1.681452 -1.384092  0.007953  0.519635
 2020-10-03  0.658132  1.429548 -0.806217  0.653830,
                    D         C         B         A
 2020-09-28  0.440326 -0.052992 -0.104565 -1.202280
 2020-09-29  1.819863  0.441548  0.570078  0.606935
 2020-09-30  0.414078  0.618265  1.285883  1.257619
 2020-10-01 -0.644602 -0.072941 -1.055405  0.319298
 2020-10-02  0.519635  0.007953 -1.384092 -1.681452
 2020-10-03  0.653830 -0.806217  1.429548  0.658132)

#### Sort by value
- sort_values(by='column')

In [29]:
# Sorting by values:
df,df.sort_values(by='B', ascending=False)

(                   A         B         C         D
 2020-09-28 -1.202280 -0.104565 -0.052992  0.440326
 2020-09-29  0.606935  0.570078  0.441548  1.819863
 2020-09-30  1.257619  1.285883  0.618265  0.414078
 2020-10-01  0.319298 -1.055405 -0.072941 -0.644602
 2020-10-02 -1.681452 -1.384092  0.007953  0.519635
 2020-10-03  0.658132  1.429548 -0.806217  0.653830,
                    A         B         C         D
 2020-10-03  0.658132  1.429548 -0.806217  0.653830
 2020-09-30  1.257619  1.285883  0.618265  0.414078
 2020-09-29  0.606935  0.570078  0.441548  1.819863
 2020-09-28 -1.202280 -0.104565 -0.052992  0.440326
 2020-10-01  0.319298 -1.055405 -0.072941 -0.644602
 2020-10-02 -1.681452 -1.384092  0.007953  0.519635)

## indexing and slicing of DataFrame

#### Selecting data by indexing and slicing
- indexing
- slicing

In [31]:
df

                   A         B         C         D
2020-09-28 -1.202280 -0.104565 -0.052992  0.440326
2020-09-29  0.606935  0.570078  0.441548  1.819863
2020-09-30  1.257619  1.285883  0.618265  0.414078
2020-10-01  0.319298 -1.055405 -0.072941 -0.644602
2020-10-02 -1.681452 -1.384092  0.007953  0.519635
2020-10-03  0.658132  1.429548 -0.806217  0.653830

In [32]:
# Selecting a single column, which yields a Series
df['A']

2020-09-28   -1.202280
2020-09-29    0.606935
2020-09-30    1.257619
2020-10-01    0.319298
2020-10-02   -1.681452
2020-10-03    0.658132
Freq: D, Name: A, dtype: float64

### 열 - A,B를 다 선택하려면?

In [37]:
df[['A','B']] # df['A','B']

                   A         B
2020-09-28 -1.202280 -0.104565
2020-09-29  0.606935  0.570078
2020-09-30  1.257619  1.285883
2020-10-01  0.319298 -1.055405
2020-10-02 -1.681452 -1.384092
2020-10-03  0.658132  1.429548

In [40]:
# Selecting via [], which slices the rows.
df[0:3]

                   A         B         C         D
2020-09-28 -1.202280 -0.104565 -0.052992  0.440326
2020-09-29  0.606935  0.570078  0.441548  1.819863
2020-09-30  1.257619  1.285883  0.618265  0.414078

In [41]:
df['20200928':'20201001'] # 인덱스가 아닌 값인 경우는 지정된 범위가 다 선택된다.

                   A         B         C         D
2020-09-28 -1.202280 -0.104565 -0.052992  0.440326
2020-09-29  0.606935  0.570078  0.441548  1.819863
2020-09-30  1.257619  1.285883  0.618265  0.414078
2020-10-01  0.319298 -1.055405 -0.072941 -0.644602

#### Selecting data by label

> **loc, iloc**

In [42]:
df

                   A         B         C         D
2020-09-28 -1.202280 -0.104565 -0.052992  0.440326
2020-09-29  0.606935  0.570078  0.441548  1.819863
2020-09-30  1.257619  1.285883  0.618265  0.414078
2020-10-01  0.319298 -1.055405 -0.072941 -0.644602
2020-10-02 -1.681452 -1.384092  0.007953  0.519635
2020-10-03  0.658132  1.429548 -0.806217  0.653830

In [45]:
dates[0]

Timestamp('2020-09-28 00:00:00', freq='D')

In [43]:
df.loc[dates[0]]   # loc()

A   -1.202280
B   -0.104565
C   -0.052992
D    0.440326
Name: 2020-09-28 00:00:00, dtype: float64

In [44]:
# Selecting on a multi-axis by label:
df.loc[:,['A','B']]

                   A         B
2020-09-28 -1.202280 -0.104565
2020-09-29  0.606935  0.570078
2020-09-30  1.257619  1.285883
2020-10-01  0.319298 -1.055405
2020-10-02 -1.681452 -1.384092
2020-10-03  0.658132  1.429548

#### [도전코딩]

> Select data for first two days AND comumn 3,4 from df.

In [46]:
df

                   A         B         C         D
2020-09-28 -1.202280 -0.104565 -0.052992  0.440326
2020-09-29  0.606935  0.570078  0.441548  1.819863
2020-09-30  1.257619  1.285883  0.618265  0.414078
2020-10-01  0.319298 -1.055405 -0.072941 -0.644602
2020-10-02 -1.681452 -1.384092  0.007953  0.519635
2020-10-03  0.658132  1.429548 -0.806217  0.653830

In [52]:
# df.loc[0:2,['C','D']]  error
# df.loc['20200928':'20200930',['C','D']]
df.loc[dates[:2],['C','D']]

                   C         D
2020-09-28 -0.052992  0.440326
2020-09-29  0.441548  1.819863

#### Selecting data by position (iloc())
- index 사용

In [53]:
df

                   A         B         C         D
2020-09-28 -1.202280 -0.104565 -0.052992  0.440326
2020-09-29  0.606935  0.570078  0.441548  1.819863
2020-09-30  1.257619  1.285883  0.618265  0.414078
2020-10-01  0.319298 -1.055405 -0.072941 -0.644602
2020-10-02 -1.681452 -1.384092  0.007953  0.519635
2020-10-03  0.658132  1.429548 -0.806217  0.653830

In [54]:
df.iloc[3]  # 결과는 차원축소형으로 표현됨.

A    0.319298
B   -1.055405
C   -0.072941
D   -0.644602
Name: 2020-10-01 00:00:00, dtype: float64

In [56]:
# [다시 도전]
# Select data for first two days AND comumn 3,4 from df.
# Use iloc
df.iloc[:2,2:4]

                   C         D
2020-09-28 -0.052992  0.440326
2020-09-29  0.441548  1.819863

In [57]:
# Select one item
df.iloc[1,1]  #20200929, B

0.5700778900076046

#### Selecting data by Boolean indexing

In [58]:
df

                   A         B         C         D
2020-09-28 -1.202280 -0.104565 -0.052992  0.440326
2020-09-29  0.606935  0.570078  0.441548  1.819863
2020-09-30  1.257619  1.285883  0.618265  0.414078
2020-10-01  0.319298 -1.055405 -0.072941 -0.644602
2020-10-02 -1.681452 -1.384092  0.007953  0.519635
2020-10-03  0.658132  1.429548 -0.806217  0.653830

In [59]:
df[df.A > 0]

                   A         B         C         D
2020-09-29  0.606935  0.570078  0.441548  1.819863
2020-09-30  1.257619  1.285883  0.618265  0.414078
2020-10-01  0.319298 -1.055405 -0.072941 -0.644602
2020-10-03  0.658132  1.429548 -0.806217  0.653830

In [60]:
df[df > 0]  # 음수(해당하지 않으면)는 다 NAN으로

                   A         B         C         D
2020-09-28       NaN       NaN       NaN  0.440326
2020-09-29  0.606935  0.570078  0.441548  1.819863
2020-09-30  1.257619  1.285883  0.618265  0.414078
2020-10-01  0.319298       NaN       NaN       NaN
2020-10-02       NaN       NaN  0.007953  0.519635
2020-10-03  0.658132  1.429548       NaN  0.653830