<a href="https://colab.research.google.com/github/o-going/pdm01/blob/master/numpy/numpy_0_why_use_it.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# numpy  
## What is numpy?  
* python module to do math!  
    - random number
    - array -> ndarray
    - math operations
    - ...

#### Why do data coders use & enjoy it?

In [1]:
a=range(10) # 0부터 10미만 정수를 만들어서 a라는 range 객체에 넣어줌.
a

range(0, 10)

In [2]:
la=list(a) # a를 리스트로 보여줌.
la

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

> 그러면 리스트 각 요소를 2배, 또는 5배로 변경하는 방법은?

In [3]:
2*la  # 원하는 결과를 얻을 수 없음. 단순히 리스트가 복제가 됨.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
# list comprehension
[5 * i for i in la]

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [5]:
[2 * i for i in la]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [9]:
# use numpy module -> as: numpy를 줄여서 np
import numpy as np

In [11]:
larr = np.array(la) # la를 array라는 함수를 이용해서 즉, 리스트를 numpy 배열로 바꿔줌.
larr*5   # broadcasted multiplication

array([ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45])

### numpy가 데이터 코딩, 특히 딥러닝에 이용되는 예제

> http://life21c.inje.ac.kr:8501/

> http://life21c.inje.ac.kr:8503/

- numpy array vs. list

    *  머신러닝에서 숫자, 사람, 동물 등의 인식을 하기 위해서는 이미지 데이터를 행렬(matrix)로 변환하는 것이 중요하다.
    *  행렬을 나타내기 위해서는 list를 사용할 수도 있지만, 행렬 연산이 직관적이지 않고 오류 가능성이 높기 때문에 **행렬 연산을 위해서는 numpy 사용이 필수적**이다.